In [19]:
import pandas as pd

In [3]:
order = pd.read_csv('order.csv', names=['id', 'ts', 'uid', 'orderid', 'amount'])
order.head()

   id                   ts    uid         orderid  amount
0   1  2019-08-01 09:15:00  10005  20190801091540   48.43
1   2  2019-08-01 10:00:00  10001  20190801100006   89.33
2   3  2019-08-01 10:04:00  10003  20190801091540   63.86
3   4  2019-08-01 12:17:00  10002  20190801121742    3.16
4   5  2019-08-01 14:05:00  10001  20190801140515   87.15

In [4]:
order['dt'] = order['ts'].str[:10]
order.head()

   id                   ts    uid         orderid  amount          dt
0   1  2019-08-01 09:15:00  10005  20190801091540   48.43  2019-08-01
1   2  2019-08-01 10:00:00  10001  20190801100006   89.33  2019-08-01
2   3  2019-08-01 10:04:00  10003  20190801091540   63.86  2019-08-01
3   4  2019-08-01 12:17:00  10002  20190801121742    3.16  2019-08-01
4   5  2019-08-01 14:05:00  10001  20190801140515   87.15  2019-08-01

In [6]:
order['dt2'] = order['orderid'].astype(str).str[:8]
order.head()

,id,ts,uid,orderid,amount,dt,dt2
0,1,2019-08-01 09:15:00,10005,20190801091540,48.43,2019-08-01,20190801
1,2,2019-08-01 10:00:00,10001,20190801100006,89.33,2019-08-01,20190801
2,3,2019-08-01 10:04:00,10003,20190801091540,63.86,2019-08-01,20190801
3,4,2019-08-01 12:17:00,10002,20190801121742,3.16,2019-08-01,20190801
4,5,2019-08-01 14:05:00,10001,20190801140515,87.15,2019-08-01,20190801

In [9]:
order_08_01 = order[order['ts'].astype(str).str.contains('08-01')]
order_08_01

,id,ts,uid,orderid,amount,dt,dt2
0,1,2019-08-01 09:15:00,10005,20190801091540,48.43,2019-08-01,20190801
1,2,2019-08-01 10:00:00,10001,20190801100006,89.33,2019-08-01,20190801
2,3,2019-08-01 10:04:00,10003,20190801091540,63.86,2019-08-01,20190801
3,4,2019-08-01 12:17:00,10002,20190801121742,3.16,2019-08-01,20190801
4,5,2019-08-01 14:05:00,10001,20190801140515,87.15,2019-08-01,20190801
5,6,2019-08-01 14:05:00,10004,20190801140529,88.65,2019-08-01,20190801

In [12]:
order['dt3'] = order['ts'].astype(str).str.extract('(\d{4}-\d{2}-\d{2}).*')
#这个正则表达式表示4位数字横杠两位数字横杠两位数字，后面是任意字符，
#我们提取的目标要放在小括号里
order.head()

,id,ts,uid,orderid,amount,dt,dt2,dt3
0,1,2019-08-01 09:15:00,10005,20190801091540,48.43,2019-08-01,20190801,2019-08-01
1,2,2019-08-01 10:00:00,10001,20190801100006,89.33,2019-08-01,20190801,2019-08-01
2,3,2019-08-01 10:04:00,10003,20190801091540,63.86,2019-08-01,20190801,2019-08-01
3,4,2019-08-01 12:17:00,10002,20190801121742,3.16,2019-08-01,20190801,2019-08-01
4,5,2019-08-01 14:05:00,10001,20190801140515,87.15,2019-08-01,20190801,2019-08-01

In [20]:
order['dt4'] = order['ts'].astype(str).str.replace('-', '')
order.head()

,id,ts,uid,orderid,amount,dt,dt2,dt3,dt4
0,1,2019-08-01 09:15:00,10005,20190801091540,48.43,2019-08-01,20190801,2019-08-01,20190801 09:15:00
1,2,2019-08-01 10:00:00,10001,20190801100006,89.33,2019-08-01,20190801,2019-08-01,20190801 10:00:00
2,3,2019-08-01 10:04:00,10003,20190801091540,63.86,2019-08-01,20190801,2019-08-01,20190801 10:04:00
3,4,2019-08-01 12:17:00,10002,20190801121742,3.16,2019-08-01,20190801,2019-08-01,20190801 12:17:00
4,5,2019-08-01 14:05:00,10001,20190801140515,87.15,2019-08-01,20190801,2019-08-01,20190801 14:05:00

In [72]:
#第一步：构造一个辅助列
def func_1(x):
    if '2019-08-01' in x['ts']:
        return '2019-08-01'
    elif '2019-08-02' in x['ts']:
        return '2019-08-02'
    else:
        return None

In [73]:
#第二步：将符合条件的order作为新的一列
def func_2(x):
    if '2019-08-01' in x['ts']:
        return str(x['orderid'])
    elif '2019-08-02' in x['ts']:
        return str(x['orderid'])
    else:
        return None

In [74]:
#应用两个函数，查看结果
order['cnt_condition'] = order.apply(func_1, axis=1)
order['cnt'] = order.apply(func_2, axis=1)
order[order['cnt'].notnull()]

,id,ts,uid,orderid,amount,dt,dt2,dt3,dt4,cnt,cnt_condition
0,1,2019-08-01 09:15:00,10005,20190801091540,48.43,2019-08-01,20190801,2019-08-01,20190801 09:15:00,20190801091540,2019-08-01
1,2,2019-08-01 10:00:00,10001,20190801100006,89.33,2019-08-01,20190801,2019-08-01,20190801 10:00:00,20190801100006,2019-08-01
2,3,2019-08-01 10:04:00,10003,20190801091540,63.86,2019-08-01,20190801,2019-08-01,20190801 10:04:00,20190801091540,2019-08-01
3,4,2019-08-01 12:17:00,10002,20190801121742,3.16,2019-08-01,20190801,2019-08-01,20190801 12:17:00,20190801121742,2019-08-01
4,5,2019-08-01 14:05:00,10001,20190801140515,87.15,2019-08-01,20190801,2019-08-01,20190801 14:05:00,20190801140515,2019-08-01
5,6,2019-08-01 14:05:00,10004,20190801140529,88.65,2019-08-01,20190801,2019-08-01,20190801 14:05:00,20190801140529,2019-08-01
6,7,2019-08-02 08:13:00,10009,20190802081315,36.02,2019-08-02,20190802,2019-08-02,20190802 08:13:00,20190802081315,2019-08-02
7,8,2019-08-02 11:14:00,10009,20190802111424,95.66,2019-08-02,20190802,2019-08-02,20190802 11:14:00,20190802111424,2019-08-02
8,9,2019-08-02 13:18:00,10005,20190802131801,89.36,2019-08-02,20190802,2019-08-02,20190802 13:18:00,20190802131801,2019-08-02
9,10,2019-08-02 15:18:00,10001,20190802151834,71.38,2019-08-02,20190802,2019-08-02,20190802 15:18:00,20190802151834,2019-08-02
10,11,2019-08-02 16:00:00,10005,20190802160014,63.13,2019-08-02,20190802,2019-08-02,20190802 16:00:00,20190802160014,2019-08-02
11,12,2019-08-02 17:03:00,10003,20190802170356,79.33,2019-08-02,20190802,2019-08-02,20190802 17:03:00,20190802170356,2019-08-02
12,13,2019-08-02 17:11:00,10002,20190802171115,56.78,2019-08-02,20190802,2019-08-02,20190802 17:11:00,20190802171115,2019-08-02
13,14,2019-08-02 19:05:00,10008,20190802190518,23.10,2019-08-02,20190802,2019-08-02,20190802 19:05:00,20190802190518,2019-08-02
14,15,2019-08-02 20:07:00,10005,20190802200717,73.82,2019-08-02,20190802,2019-08-02,20190802 20:07:00,20190802200717,2019-08-02
15,16,2019-08-02 20:08:00,10001,20190802200816,82.12,2019-08-02,20190802,2019-08-02,20190802 20:08:00,20190802200816,2019-08-02
16,17,2019-08-02 20:10:00,10003,20190802201002,32.01,2019-08-02,20190802,2019-08-02,20190802 20:10:00,20190802201002,2019-08-02

In [75]:
#进行分组计数
order.groupby('cnt_condition').agg({'cnt': 'nunique'})

               cnt
cnt_condition
2019-08-01       5
2019-08-02      11

In [111]:
#由于我们的ts字段是字符串类型，先转换为datetime类型
order['ts2'] =  pd.to_datetime(order['ts'], format='%Y-%m-%d %H:%M:%S')

#进行分组排序，按照uid分组，按照ts2降序，序号默认为小数，需要转换为整数
#并添加为新的一列rk
order['rk'] = order.groupby(['uid'])['ts2'].rank(ascending=False, method='first').astype(int)

#为了便于查看rk的效果,对原来的数据按照uid和时间进行排序，结果和SQL一致
order.sort_values(['uid','ts'], ascending=[True, False])

,id,ts,uid,orderid,amount,dt,dt2,dt3,dt4,rk,ts2
74,75,2019-08-10 16:10:00,10001,20190810161007,5.73,2019-08-10,20190810,2019-08-10,20190810 16:10:00,1,2019-08-10 16:10:00
57,58,2019-08-09 09:07:00,10001,20190809090703,95.15,2019-08-09,20190809,2019-08-09,20190809 09:07:00,2,2019-08-09 09:07:00
35,36,2019-08-05 20:17:00,10001,20190805201731,38.52,2019-08-05,20190805,2019-08-05,20190805 20:17:00,3,2019-08-05 20:17:00
25,26,2019-08-04 14:07:00,10001,20190804140729,19.01,2019-08-04,20190804,2019-08-04,20190804 14:07:00,4,2019-08-04 14:07:00
24,25,2019-08-04 12:05:00,10001,20190804120513,39.76,2019-08-04,20190804,2019-08-04,20190804 12:05:00,5,2019-08-04 12:05:00
15,16,2019-08-02 20:08:00,10001,20190802200816,82.12,2019-08-02,20190802,2019-08-02,20190802 20:08:00,6,2019-08-02 20:08:00
9,10,2019-08-02 15:18:00,10001,20190802151834,71.38,2019-08-02,20190802,2019-08-02,20190802 15:18:00,7,2019-08-02 15:18:00
4,5,2019-08-01 14:05:00,10001,20190801140515,87.15,2019-08-01,20190801,2019-08-01,20190801 14:05:00,8,2019-08-01 14:05:00
1,2,2019-08-01 10:00:00,10001,20190801100006,89.33,2019-08-01,20190801,2019-08-01,20190801 10:00:00,9,2019-08-01 10:00:00
82,83,2019-08-13 15:14:00,10002,20190813151443,46.87,2019-08-13,20190813,2019-08-13,20190813 15:14:00,1,2019-08-13 15:14:00
79,80,2019-08-10 19:14:00,10002,20190810191433,68.07,2019-08-10,20190810,2019-08-10,20190810 19:14:00,2,2019-08-10 19:14:00
70,71,2019-08-10 11:12:00,10002,20190810111243,4.09,2019-08-10,20190810,2019-08-10,20190810 11:12:00,3,2019-08-10 11:12:00
67,68,2019-08-09 19:06:00,10002,20190809190617,30.26,2019-08-09,20190809,2019-08-09,20190809 19:06:00,4,2019-08-09 19:06:00
65,66,2019-08-09 18:02:00,10002,20190809180203,14.14,2019-08-09,20190809,2019-08-09,20190809 18:02:00,5,2019-08-09 18:02:00
54,55,2019-08-08 15:13:00,10002,20190808151306,77.92,2019-08-08,20190808,2019-08-08,20190808 15:13:00,6,2019-08-08 15:13:00
53,54,2019-08-08 13:17:00,10002,20190808131759,99.61,2019-08-08,20190808,2019-08-08,20190808 13:17:00,7,2019-08-08 13:17:00
49,50,2019-08-07 20:08:00,10002,20190807200808,75.28,2019-08-07,20190807,2019-08-07,20190807 20:08:00,8,2019-08-07 20:08:00
43,44,2019-08-07 11:05:00,10002,20190807110520,21.54,2019-08-07,20190807,2019-08-07,20190807 11:05:00,9,2019-08-07 11:05:00
39,40,2019-08-06 14:05:00,10002,20190806140511,1.95,2019-08-06,20190806,2019-08-06,20190806 14:05:00,10,2019-08-06 14:05:00
37,38,2019-08-06 10:02:00,10002,20190806100212,73.23,2019-08-06,20190806,2019-08-06,20190806 10:02:00,11,2019-08-06 10:02:00
29,30,2019-08-05 11:13:00,10002,20190805111336,20.86,2019-08-05,20190805,2019-08-05,20190805 11:13:00,12,2019-08-05 11:13:00
28,29,2019-08-05 11:12:00,10002,20190805111224,66.09,2019-08-05,20190805,2019-08-05,20190805 11:12:00,13,2019-08-05 11:12:00
27,28,2019-08-05 08:19:00,10002,20190805081943,75.83,2019-08-05,20190805,2019-08-05,20190805 08:19:00,14,2019-08-05 08:19:00
21,22,2019-08-03 14:18:00,10002,20190803141830,39.92,2019-08-03,20190803,2019-08-03,20190803 14:18:00,15,2019-08-03 14:18:00
12,13,2019-08-02 17:11:00,10002,20190802171115,56.78,2019-08-02,20190802,2019-08-02,20190802 17:11:00,16,2019-08-02 17:11:00
3,4,2019-08-01 12:17:00,10002,20190801121742,3.16,2019-08-01,20190801,2019-08-01,20190801 12:17:00,17,2019-08-01 12:17:00
78,79,2019-08-10 19:10:00,10003,20190810191026,68.86,2019-08-10,20190810,2019-08-10,20190810 19:10:00,1,2019-08-10 19:10:00
77,78,2019-08-10 18:03:00,10003,20190810180306,22.59,2019-08-10,20190810,2019-08-10,20190810 18:03:00,2,2019-08-10 18:03:00
66,67,2019-08-09 19:01:00,10003,20190809190105,90.97,2019-08-09,20190809,2019-08-09,20190809 19:01:00,3,2019-08-09 19:01:00
64,65,2019-08-09 17:05:00,10003,20190809170516,33.72,2019-08-09,20190809,2019-08-09,20190809 17:05:00,4,2019-08-09 17:05:00
...,...,...,...,...,...,...,...,...,...,...,...
10,11,2019-08-02 16:00:00,10005,20190802160014,63.13,2019-08-02,20190802,2019-08-02,20190802 16:00:00,7,2019-08-02 16:00:00
8,9,2019-08-02 13:18:00,10005,20190802131801,89.36,2019-08-02,20190802,2019-08-02,20190802 13:18:00,8,2019-08-02 13:18:00
0,1,2019-08-01 09:15:00,10005,20190801091540,48.43,2019-08-01,20190801,2019-08-01,20190801 09:15:00,9,2019-08-01 09:15:00
60,61,2019-08-09 14:12:00,10006,20190809141227,65.44,2019-08-09,20190809,2019-08-09,20190809 14:12:00,1,2019-08-09 14:12:00
81,82,2019-08-12 15:16:00,10007,20190812151638,61.90,2019-08-12,20190812,2019-08-12,20190812 15:16:00,1,2019-08-12 15:16:00
80,81,2019-08-11 15:11:00,10007,20190811151111,52.76,2019-08-11,20190811,2019-08-11,20190811 15:11:00,2,2019-08-11 15:11:00
69,70,2019-08-10 08:02:00,10007,20190810080224,14.37,2019-08-10,20190810,2019-08-10,20190810 08:02:00,3,2019-08-10 08:02:00
62,63,2019-08-09 16:02:00,10007,20190809160206,73.55,2019-08-09,20190809,2019-08-09,20190809 16:02:00,4,2019-08-09 16:02:00
61,62,2019-08-09 15:02:00,10007,20190809150204,18.40,2019-08-09,20190809,2019-08-09,20190809 15:02:00,5,2019-08-09 15:02:00
55,56,2019-08-08 17:07:00,10007,20190808170710,12.72,2019-08-08,20190808,2019-08-08,20190808 17:07:00,6,2019-08-08 17:07:00
52,53,2019-08-08 11:12:00,10007,20190808111203,97.95,2019-08-08,20190808,2019-08-08,20190808 11:12:00,7,2019-08-08 11:12:00
76,77,2019-08-10 17:08:00,10008,20190810170853,86.50,2019-08-10,20190810,2019-08-10,20190810 17:08:00,1,2019-08-10 17:08:00
72,73,2019-08-10 15:08:00,10008,20190810150838,42.90,2019-08-10,20190810,2019-08-10,20190810 15:08:00,2,2019-08-10 15:08:00
63,64,2019-08-09 16:18:00,10008,20190809161842,56.85,2019-08-09,20190809,2019-08-09,20190809 16:18:00,3,2019-08-09 16:18:00
59,60,2019-08-09 12:11:00,10008,20190809121131,53.36,2019-08-09,20190809,2019-08-09,20190809 12:11:00,4,2019-08-09 12:11:00
45,46,2019-08-07 15:03:00,10008,20190807150301,37.54,2019-08-07,20190807,2019-08-07,20190807 15:03:00,5,2019-08-07 15:03:00
44,45,2019-08-07 13:09:00,10008,20190807130918,44.38,2019-08-07,20190807,2019-08-07,20190807 13:09:00,6,2019-08-07 13:09:00
42,43,2019-08-07 08:09:00,10008,20190807080937,80.75,2019-08-07,20190807,2019-08-07,20190807 08:09:00,7,2019-08-07 08:09:00
13,14,2019-08-02 19:05:00,10008,20190802190518,23.10,2019-08-02,20190802,2019-08-02,20190802 19:05:00,8,2019-08-02 19:05:00
75,76,2019-08-10 17:06:00,10009,20190810170641,31.54,2019-08-10,20190810,2019-08-10,20190810 17:06:00,1,2019-08-10 17:06:00
58,59,2019-08-09 10:11:00,10009,20190809101113,79.49,2019-08-09,20190809,2019-08-09,20190809 10:11:00,2,2019-08-09 10:11:00
48,49,2019-08-07 19:03:00,10009,20190807190318,50.73,2019-08-07,20190807,2019-08-07,20190807 19:03:00,3,2019-08-07 19:03:00
47,48,2019-08-07 17:17:00,10009,20190807171717,57.67,2019-08-07,20190807,2019-08-07,20190807 17:17:00,4,2019-08-07 17:17:00
38,39,2019-08-06 12:05:00,10009,20190806120531,73.56,2019-08-06,20190806,2019-08-06,20190806 12:05:00,5,2019-08-06 12:05:00
36,37,2019-08-06 09:11:00,10009,20190806091123,55.91,2019-08-06,20190806,2019-08-06,20190806 09:11:00,6,2019-08-06 09:11:00
20,21,2019-08-03 14:07:00,10009,20190803140705,90.05,2019-08-03,20190803,2019-08-03,20190803 14:07:00,7,2019-08-03 14:07:00
19,20,2019-08-03 12:08:00,10009,20190803120818,47.99,2019-08-03,20190803,2019-08-03,20190803 12:08:00,8,2019-08-03 12:08:00
17,18,2019-08-03 09:02:00,10009,20190803090247,2.70,2019-08-03,20190803,2019-08-03,20190803 09:02:00,9,2019-08-03 09:02:00
7,8,2019-08-02 11:14:00,10009,20190802111424,95.66,2019-08-02,20190802,2019-08-02,20190802 11:14:00,10,2019-08-02 11:14:00
6,7,2019-08-02 08:13:00,10009,20190802081315,36.02,2019-08-02,20190802,2019-08-02,20190802 08:13:00,11,2019-08-02 08:13:00

In [115]:
order['lag'] =  order.groupby(['uid'])['ts2'].shift(-1)
order['lead'] =  order.groupby(['uid'])['ts2'].shift(1)

In [116]:
#依然是为了看效果，对原来的数据按照uid和时间进行排序，结果和SQL一致
order.sort_values(['uid','ts'], ascending=[True, False])

,id,ts,uid,orderid,amount,dt,dt2,dt3,dt4,rk,ts2,lag,lead
74,75,2019-08-10 16:10:00,10001,20190810161007,5.73,2019-08-10,20190810,2019-08-10,20190810 16:10:00,1,2019-08-10 16:10:00,NaT,2019-08-09 09:07:00
57,58,2019-08-09 09:07:00,10001,20190809090703,95.15,2019-08-09,20190809,2019-08-09,20190809 09:07:00,2,2019-08-09 09:07:00,2019-08-10 16:10:00,2019-08-05 20:17:00
35,36,2019-08-05 20:17:00,10001,20190805201731,38.52,2019-08-05,20190805,2019-08-05,20190805 20:17:00,3,2019-08-05 20:17:00,2019-08-09 09:07:00,2019-08-04 14:07:00
25,26,2019-08-04 14:07:00,10001,20190804140729,19.01,2019-08-04,20190804,2019-08-04,20190804 14:07:00,4,2019-08-04 14:07:00,2019-08-05 20:17:00,2019-08-04 12:05:00
24,25,2019-08-04 12:05:00,10001,20190804120513,39.76,2019-08-04,20190804,2019-08-04,20190804 12:05:00,5,2019-08-04 12:05:00,2019-08-04 14:07:00,2019-08-02 20:08:00
15,16,2019-08-02 20:08:00,10001,20190802200816,82.12,2019-08-02,20190802,2019-08-02,20190802 20:08:00,6,2019-08-02 20:08:00,2019-08-04 12:05:00,2019-08-02 15:18:00
9,10,2019-08-02 15:18:00,10001,20190802151834,71.38,2019-08-02,20190802,2019-08-02,20190802 15:18:00,7,2019-08-02 15:18:00,2019-08-02 20:08:00,2019-08-01 14:05:00
4,5,2019-08-01 14:05:00,10001,20190801140515,87.15,2019-08-01,20190801,2019-08-01,20190801 14:05:00,8,2019-08-01 14:05:00,2019-08-02 15:18:00,2019-08-01 10:00:00
1,2,2019-08-01 10:00:00,10001,20190801100006,89.33,2019-08-01,20190801,2019-08-01,20190801 10:00:00,9,2019-08-01 10:00:00,2019-08-01 14:05:00,NaT
82,83,2019-08-13 15:14:00,10002,20190813151443,46.87,2019-08-13,20190813,2019-08-13,20190813 15:14:00,1,2019-08-13 15:14:00,NaT,2019-08-10 19:14:00
79,80,2019-08-10 19:14:00,10002,20190810191433,68.07,2019-08-10,20190810,2019-08-10,20190810 19:14:00,2,2019-08-10 19:14:00,2019-08-13 15:14:00,2019-08-10 11:12:00
70,71,2019-08-10 11:12:00,10002,20190810111243,4.09,2019-08-10,20190810,2019-08-10,20190810 11:12:00,3,2019-08-10 11:12:00,2019-08-10 19:14:00,2019-08-09 19:06:00
67,68,2019-08-09 19:06:00,10002,20190809190617,30.26,2019-08-09,20190809,2019-08-09,20190809 19:06:00,4,2019-08-09 19:06:00,2019-08-10 11:12:00,2019-08-09 18:02:00
65,66,2019-08-09 18:02:00,10002,20190809180203,14.14,2019-08-09,20190809,2019-08-09,20190809 18:02:00,5,2019-08-09 18:02:00,2019-08-09 19:06:00,2019-08-08 15:13:00
54,55,2019-08-08 15:13:00,10002,20190808151306,77.92,2019-08-08,20190808,2019-08-08,20190808 15:13:00,6,2019-08-08 15:13:00,2019-08-09 18:02:00,2019-08-08 13:17:00
53,54,2019-08-08 13:17:00,10002,20190808131759,99.61,2019-08-08,20190808,2019-08-08,20190808 13:17:00,7,2019-08-08 13:17:00,2019-08-08 15:13:00,2019-08-07 20:08:00
49,50,2019-08-07 20:08:00,10002,20190807200808,75.28,2019-08-07,20190807,2019-08-07,20190807 20:08:00,8,2019-08-07 20:08:00,2019-08-08 13:17:00,2019-08-07 11:05:00
43,44,2019-08-07 11:05:00,10002,20190807110520,21.54,2019-08-07,20190807,2019-08-07,20190807 11:05:00,9,2019-08-07 11:05:00,2019-08-07 20:08:00,2019-08-06 14:05:00
39,40,2019-08-06 14:05:00,10002,20190806140511,1.95,2019-08-06,20190806,2019-08-06,20190806 14:05:00,10,2019-08-06 14:05:00,2019-08-07 11:05:00,2019-08-06 10:02:00
37,38,2019-08-06 10:02:00,10002,20190806100212,73.23,2019-08-06,20190806,2019-08-06,20190806 10:02:00,11,2019-08-06 10:02:00,2019-08-06 14:05:00,2019-08-05 11:13:00
29,30,2019-08-05 11:13:00,10002,20190805111336,20.86,2019-08-05,20190805,2019-08-05,20190805 11:13:00,12,2019-08-05 11:13:00,2019-08-06 10:02:00,2019-08-05 11:12:00
28,29,2019-08-05 11:12:00,10002,20190805111224,66.09,2019-08-05,20190805,2019-08-05,20190805 11:12:00,13,2019-08-05 11:12:00,2019-08-05 11:13:00,2019-08-05 08:19:00
27,28,2019-08-05 08:19:00,10002,20190805081943,75.83,2019-08-05,20190805,2019-08-05,20190805 08:19:00,14,2019-08-05 08:19:00,2019-08-05 11:12:00,2019-08-03 14:18:00
21,22,2019-08-03 14:18:00,10002,20190803141830,39.92,2019-08-03,20190803,2019-08-03,20190803 14:18:00,15,2019-08-03 14:18:00,2019-08-05 08:19:00,2019-08-02 17:11:00
12,13,2019-08-02 17:11:00,10002,20190802171115,56.78,2019-08-02,20190802,2019-08-02,20190802 17:11:00,16,2019-08-02 17:11:00,2019-08-03 14:18:00,2019-08-01 12:17:00
3,4,2019-08-01 12:17:00,10002,20190801121742,3.16,2019-08-01,20190801,2019-08-01,20190801 12:17:00,17,2019-08-01 12:17:00,2019-08-02 17:11:00,NaT
78,79,2019-08-10 19:10:00,10003,20190810191026,68.86,2019-08-10,20190810,2019-08-10,20190810 19:10:00,1,2019-08-10 19:10:00,NaT,2019-08-10 18:03:00
77,78,2019-08-10 18:03:00,10003,20190810180306,22.59,2019-08-10,20190810,2019-08-10,20190810 18:03:00,2,2019-08-10 18:03:00,2019-08-10 19:10:00,2019-08-09 19:01:00
66,67,2019-08-09 19:01:00,10003,20190809190105,90.97,2019-08-09,20190809,2019-08-09,20190809 19:01:00,3,2019-08-09 19:01:00,2019-08-10 18:03:00,2019-08-09 17:05:00
64,65,2019-08-09 17:05:00,10003,20190809170516,33.72,2019-08-09,20190809,2019-08-09,20190809 17:05:00,4,2019-08-09 17:05:00,2019-08-09 19:01:00,2019-08-08 08:16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,11,2019-08-02 16:00:00,10005,20190802160014,63.13,2019-08-02,20190802,2019-08-02,20190802 16:00:00,7,2019-08-02 16:00:00,2019-08-02 20:07:00,2019-08-02 13:18:00
8,9,2019-08-02 13:18:00,10005,20190802131801,89.36,2019-08-02,20190802,2019-08-02,20190802 13:18:00,8,2019-08-02 13:18:00,2019-08-02 16:00:00,2019-08-01 09:15:00
0,1,2019-08-01 09:15:00,10005,20190801091540,48.43,2019-08-01,20190801,2019-08-01,20190801 09:15:00,9,2019-08-01 09:15:00,2019-08-02 13:18:00,NaT
60,61,2019-08-09 14:12:00,10006,20190809141227,65.44,2019-08-09,20190809,2019-08-09,20190809 14:12:00,1,2019-08-09 14:12:00,NaT,NaT
81,82,2019-08-12 15:16:00,10007,20190812151638,61.90,2019-08-12,20190812,2019-08-12,20190812 15:16:00,1,2019-08-12 15:16:00,NaT,2019-08-11 15:11:00
80,81,2019-08-11 15:11:00,10007,20190811151111,52.76,2019-08-11,20190811,2019-08-11,20190811 15:11:00,2,2019-08-11 15:11:00,2019-08-12 15:16:00,2019-08-10 08:02:00
69,70,2019-08-10 08:02:00,10007,20190810080224,14.37,2019-08-10,20190810,2019-08-10,20190810 08:02:00,3,2019-08-10 08:02:00,2019-08-11 15:11:00,2019-08-09 16:02:00
62,63,2019-08-09 16:02:00,10007,20190809160206,73.55,2019-08-09,20190809,2019-08-09,20190809 16:02:00,4,2019-08-09 16:02:00,2019-08-10 08:02:00,2019-08-09 15:02:00
61,62,2019-08-09 15:02:00,10007,20190809150204,18.40,2019-08-09,20190809,2019-08-09,20190809 15:02:00,5,2019-08-09 15:02:00,2019-08-09 16:02:00,2019-08-08 17:07:00
55,56,2019-08-08 17:07:00,10007,20190808170710,12.72,2019-08-08,20190808,2019-08-08,20190808 17:07:00,6,2019-08-08 17:07:00,2019-08-09 15:02:00,2019-08-08 11:12:00
52,53,2019-08-08 11:12:00,10007,20190808111203,97.95,2019-08-08,20190808,2019-08-08,20190808 11:12:00,7,2019-08-08 11:12:00,2019-08-08 17:07:00,NaT
76,77,2019-08-10 17:08:00,10008,20190810170853,86.50,2019-08-10,20190810,2019-08-10,20190810 17:08:00,1,2019-08-10 17:08:00,NaT,2019-08-10 15:08:00
72,73,2019-08-10 15:08:00,10008,20190810150838,42.90,2019-08-10,20190810,2019-08-10,20190810 15:08:00,2,2019-08-10 15:08:00,2019-08-10 17:08:00,2019-08-09 16:18:00
63,64,2019-08-09 16:18:00,10008,20190809161842,56.85,2019-08-09,20190809,2019-08-09,20190809 16:18:00,3,2019-08-09 16:18:00,2019-08-10 15:08:00,2019-08-09 12:11:00
59,60,2019-08-09 12:11:00,10008,20190809121131,53.36,2019-08-09,20190809,2019-08-09,20190809 12:11:00,4,2019-08-09 12:11:00,2019-08-09 16:18:00,2019-08-07 15:03:00
45,46,2019-08-07 15:03:00,10008,20190807150301,37.54,2019-08-07,20190807,2019-08-07,20190807 15:03:00,5,2019-08-07 15:03:00,2019-08-09 12:11:00,2019-08-07 13:09:00
44,45,2019-08-07 13:09:00,10008,20190807130918,44.38,2019-08-07,20190807,2019-08-07,20190807 13:09:00,6,2019-08-07 13:09:00,2019-08-07 15:03:00,2019-08-07 08:09:00
42,43,2019-08-07 08:09:00,10008,20190807080937,80.75,2019-08-07,20190807,2019-08-07,20190807 08:09:00,7,2019-08-07 08:09:00,2019-08-07 13:09:00,2019-08-02 19:05:00
13,14,2019-08-02 19:05:00,10008,20190802190518,23.10,2019-08-02,20190802,2019-08-02,20190802 19:05:00,8,2019-08-02 19:05:00,2019-08-07 08:09:00,NaT
75,76,2019-08-10 17:06:00,10009,20190810170641,31.54,2019-08-10,20190810,2019-08-10,20190810 17:06:00,1,2019-08-10 17:06:00,NaT,2019-08-09 10:11:00
58,59,2019-08-09 10:11:00,10009,20190809101113,79.49,2019-08-09,20190809,2019-08-09,20190809 10:11:00,2,2019-08-09 10:11:00,2019-08-10 17:06:00,2019-08-07 19:03:00
48,49,2019-08-07 19:03:00,10009,20190807190318,50.73,2019-08-07,20190807,2019-08-07,20190807 19:03:00,3,2019-08-07 19:03:00,2019-08-09 10:11:00,2019-08-07 17:17:00
47,48,2019-08-07 17:17:00,10009,20190807171717,57.67,2019-08-07,20190807,2019-08-07,20190807 17:17:00,4,2019-08-07 17:17:00,2019-08-07 19:03:00,2019-08-06 12:05:00
38,39,2019-08-06 12:05:00,10009,20190806120531,73.56,2019-08-06,20190806,2019-08-06,20190806 12:05:00,5,2019-08-06 12:05:00,2019-08-07 17:17:00,2019-08-06 09:11:00
36,37,2019-08-06 09:11:00,10009,20190806091123,55.91,2019-08-06,20190806,2019-08-06,20190806 09:11:00,6,2019-08-06 09:11:00,2019-08-06 12:05:00,2019-08-03 14:07:00
20,21,2019-08-03 14:07:00,10009,20190803140705,90.05,2019-08-03,20190803,2019-08-03,20190803 14:07:00,7,2019-08-03 14:07:00,2019-08-06 09:11:00,2019-08-03 12:08:00
19,20,2019-08-03 12:08:00,10009,20190803120818,47.99,2019-08-03,20190803,2019-08-03,20190803 12:08:00,8,2019-08-03 12:08:00,2019-08-03 14:07:00,2019-08-03 09:02:00
17,18,2019-08-03 09:02:00,10009,20190803090247,2.70,2019-08-03,20190803,2019-08-03,20190803 09:02:00,9,2019-08-03 09:02:00,2019-08-03 12:08:00,2019-08-02 11:14:00
7,8,2019-08-02 11:14:00,10009,20190802111424,95.66,2019-08-02,20190802,2019-08-02,20190802 11:14:00,10,2019-08-02 11:14:00,2019-08-03 09:02:00,2019-08-02 08:13:00
6,7,2019-08-02 08:13:00,10009,20190802081315,36.02,2019-08-02,20190802,2019-08-02,20190802 08:13:00,11,2019-08-02 08:13:00,2019-08-02 11:14:00,NaT

In [144]:
import pandas as pd
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)

order = pd.read_csv('order.csv', names=['id', 'ts', 'uid', 'orderid', 'amount'])
order.head()

   id                   ts    uid         orderid  amount
0   1  2019-08-01 09:15:00  10005  20190801091540   48.43
1   2  2019-08-01 10:00:00  10001  20190801100006   89.33
2   3  2019-08-01 10:04:00  10003  20190801091540   63.86
3   4  2019-08-01 12:17:00  10002  20190801121742    3.16
4   5  2019-08-01 14:05:00  10001  20190801140515   87.15

In [145]:
order['orderid'] = order['orderid'].astype('str')
order['orderid'] = order['orderid'].apply(lambda x: x + ",")
order_group = order.groupby('uid').agg({'orderid':'sum'})
order_group

                                                                                                   orderid
uid
10001  20190801100006,20190801140515,20190802151834,20190802200816,20190804120513,20190804140729,201908...
10002  20190801121742,20190802171115,20190803141830,20190805081943,20190805111224,20190805111336,201908...
10003  20190801091540,20190802170356,20190802201002,20190803100858,20190805150532,20190805191729,201908...
10004  20190801140529,20190804090709,20190804101308,20190805130103,20190805180710,20190809201337,201908...
10005  20190801091540,20190802131801,20190802160014,20190802200717,20190804141616,20190805161248,201908...
10006                                                                                      20190809141227,
10007  20190808111203,20190808170710,20190809150204,20190809160206,20190810080224,20190811151111,201908...
10008  20190802190518,20190807080937,20190807130918,20190807150301,20190809121131,20190809161842,201908...
10009  20190802081315,20190802111424,20190803090247,20190803120818,20190803140705,20190806091123,201908...

In [146]:
order_group = order_group.reset_index()
order_group

,uid,orderid
0,10001,"20190801100006,20190801140515,20190802151834,20190802200816,20190804120513,20190804140729,201908..."
1,10002,"20190801121742,20190802171115,20190803141830,20190805081943,20190805111224,20190805111336,201908..."
2,10003,"20190801091540,20190802170356,20190802201002,20190803100858,20190805150532,20190805191729,201908..."
3,10004,"20190801140529,20190804090709,20190804101308,20190805130103,20190805180710,20190809201337,201908..."
4,10005,"20190801091540,20190802131801,20190802160014,20190802200717,20190804141616,20190805161248,201908..."
5,10006,"20190809141227,"
6,10007,"20190808111203,20190808170710,20190809150204,20190809160206,20190810080224,20190811151111,201908..."
7,10008,"20190802190518,20190807080937,20190807130918,20190807150301,20190809121131,20190809161842,201908..."
8,10009,"20190802081315,20190802111424,20190803090247,20190803120818,20190803140705,20190806091123,201908..."

In [152]:
order_group1 = pd.concat([pd.Series(row['uid'], row['orderid'].split(',')) for _ , row in order_group.iterrows()]).reset_index()
order_group1

             index      0
0   20190801100006  10001
1   20190801140515  10001
2   20190802151834  10001
3   20190802200816  10001
4   20190804120513  10001
5   20190804140729  10001
6   20190805201731  10001
7   20190809090703  10001
8   20190810161007  10001
9                   10001
10  20190801121742  10002
11  20190802171115  10002
12  20190803141830  10002
13  20190805081943  10002
14  20190805111224  10002
15  20190805111336  10002
16  20190806100212  10002
17  20190806140511  10002
18  20190807110520  10002
19  20190807200808  10002
20  20190808131759  10002
21  20190808151306  10002
22  20190809180203  10002
23  20190809190617  10002
24  20190810111243  10002
25  20190810191433  10002
26  20190813151443  10002
27                  10002
28  20190801091540  10003
29  20190802170356  10003
30  20190802201002  10003
31  20190803100858  10003
32  20190805150532  10003
33  20190805191729  10003
34  20190806170150  10003
35  20190807201432  10003
36  20190808081605  10003
37  20190809170516  10003
38  20190809190105  10003
39  20190810180306  10003
40  20190810191026  10003
41                  10003
42  20190801140529  10004
43  20190804090709  10004
44  20190804101308  10004
45  20190805130103  10004
46  20190805180710  10004
47  20190809201337  10004
48  20190810131853  10004
49  20190810151032  10004
50                  10004
51  20190801091540  10005
52  20190802131801  10005
53  20190802160014  10005
54  20190802200717  10005
55  20190804141616  10005
56  20190805161248  10005
57  20190806181523  10005
58  20190807160957  10005
59  20190808180638  10005
60                  10005
61  20190809141227  10006
62                  10006
63  20190808111203  10007
64  20190808170710  10007
65  20190809150204  10007
66  20190809160206  10007
67  20190810080224  10007
68  20190811151111  10007
69  20190812151638  10007
70                  10007
71  20190802190518  10008
72  20190807080937  10008
73  20190807130918  10008
74  20190807150301  10008
75  20190809121131  10008
76  20190809161842  10008
77  20190810150838  10008
78  20190810170853  10008
79                  10008
80  20190802081315  10009
81  20190802111424  10009
82  20190803090247  10009
83  20190803120818  10009
84  20190803140705  10009
85  20190806091123  10009
86  20190806120531  10009
87  20190807171717  10009
88  20190807190318  10009
89  20190809101113  10009
90  20190810170641  10009
91                  10009

In [155]:
import pandas as pd
new_data = pd.read_excel('new_data.xlsx')
new_data

   uid                        arr
0    1  ["1","1","1","1","1","1"]
1    2  ["1","1","1","1","1","1"]
2    3  ["1","1","1","1","1","1"]
3    4  ["1","1","1","1","1","1"]
4    5  ["1","1","1","1","1","1"]
5    6  ["1","1","1","1","1","1"]
6    7  ["1","0","0","0","0","0"]
7    8  ["1","1","1","1","1","1"]
8    9  ["1","1","0","0","0","0"]
9   10  ["1","1","1","1","1","0"]

In [156]:
new_data.dtypes

uid     int64
arr    object
dtype: object

In [157]:
def extract_num(x, i):
    from ast import literal_eval
    return literal_eval(x)[i]

In [162]:
new_data['arr_1'] =  new_data.arr.apply(extract_num, args=(0,))#0代表第一个数字
new_data['arr_2'] =  new_data.arr.apply(extract_num, args=(1,))#1代表第二个数字
new_data['arr_3'] =  new_data.arr.apply(extract_num, args=(2,))#2代表第三个数字
new_data['arr_4'] =  new_data.arr.apply(extract_num, args=(3,))#3代表i第四个数字
new_data['arr_5'] =  new_data.arr.apply(extract_num, args=(4,))#4代表第五个数字
new_data['arr_6'] =  new_data.arr.apply(extract_num, args=(5,))#5代表第六个数字
new_data

   uid                        arr arr_1 arr_2 arr_3 arr_4 arr_5 arr_6
0    1  ["1","1","1","1","1","1"]     1     1     1     1     1     1
1    2  ["1","1","1","1","1","1"]     1     1     1     1     1     1
2    3  ["1","1","1","1","1","1"]     1     1     1     1     1     1
3    4  ["1","1","1","1","1","1"]     1     1     1     1     1     1
4    5  ["1","1","1","1","1","1"]     1     1     1     1     1     1
5    6  ["1","1","1","1","1","1"]     1     1     1     1     1     1
6    7  ["1","0","0","0","0","0"]     1     0     0     0     0     0
7    8  ["1","1","1","1","1","1"]     1     1     1     1     1     1
8    9  ["1","1","0","0","0","0"]     1     1     0     0     0     0
9   10  ["1","1","1","1","1","0"]     1     1     1     1     1     0

In [163]:
new_data.dtypes

uid       int64
arr      object
arr_1    object
arr_2    object
arr_3    object
arr_4    object
arr_5    object
arr_6    object
dtype: object